*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "h"
    "f"
    "r"
    ;
}

header > a > i{
    font-size: 3rem;
    color: white;
}

a{
    text-decoration: none;
}

header{
    grid-area: h;
    background-color: #441A9D;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    align-items: center;
}

h1{
    padding: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
}

main{
    grid-area: f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

main >form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
    font-size: 20px;
}
main > form > input{
    font-size: 10px color black;
    background-color: #de95f1;
    border-radius: 20px;
    padding: 20px;
    height: 0;
    text-align: center;
    
}
main > form>div{
    background-color:black;
    color: white;
    padding: 10px;
    width: 180px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
   
}

footer{
    grid-area: r;
    background-color: #441A9D;
    display: flex;
    justify-content: space-between;
    color: azure;
    padding: 40px;
    flex-wrap: wrap;
    row-gap: 20px;
}

footer > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 1.5rem;
}

input[type="submit"]{
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
    padding: 10px;
    width: 160px;
    height: 40px;
    font-weight: 600;
}